* {
    padding: 0;
    margin: 0;
}

/*SUB-LISTAS: NO ANO, NA VIDA, PARA COMPRAR, COMPRADOS*/

.logo {
    width: 80px;
    height: 80px;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, rgb(145, 58, 119), rgb(238, 148, 211));
}

body>header {
    color: rgb(61, 10, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: static;
    /*cabeçalho primeiro, conteúdo depois, mas ele some se rolar a tela*/
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1100;
}

body>header h1 {
    font-size: 80px;
}

nav {
    position: fixed;
    top: 200px;
    left: 40px;
    width: 170px;
    z-index: 1000;
}

nav ul {
    list-style: none;
    /*remover marcadores (pontinhos laterais)*/
}

nav li {
    position: relative;
    /*precisa para ser relativo ao li quando as sub-ul aparecerem*/
}

nav a {
    display: block;
    padding: 18px;
    color: white;
    background-color: rgb(61, 10, 59);
    text-decoration: none;
    /*sublinhado de link*/
    font-weight: bold;
    /*negrito*/
}

nav a:hover {
    /*mouse em cima, muda de cor*/
    background-color: rgb(90, 20, 85);
}

nav ul ul {
    /*a sub-ul*/
    display: none;
    /*sub-menu escondido*/
    position: absolute;
    top: 0;
    left: 170px;
    width: 180px;
}

nav li:hover>ul {
    display: block;
    /*hoover = quando passa o mouse, deixa de ser none, para ser block*/
}

nav ul ul a {
    background-color: rgb(90, 20, 85);
}

nav ul ul a:hover {
    background-color: rgb(120, 40, 115);
}


footer {
    background-color: rgb(120, 40, 115);
    color: rgb(236, 169, 234);
    text-align: center;
    padding: 20px;
    /*espaçamento*/
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}



/*FORMULARIO*/
#formulario {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffbce3;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(97, 19, 52);
}

fieldset {

    margin: 10px;
    padding: 15px;
    border: 2px solid rgb(161, 41, 91);
    border-radius: 10px;
}

fieldset legend {
    font-family: "Italianno", cursive;
    font-size: 40px;
    color: rgb(97, 19, 52);
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(61, 10, 59);
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid rgb(97, 19, 52);
    border-radius: 8px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: rgb(102, 5, 78);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(119, 8, 112);
}

.botoes {
    display: flex;
    gap: 10px;
}

.botoes button {
    width: 50%;
}

#resposta {
    text-align: center;
    margin-top: 20px;
    color: rgb(97, 19, 52);
    font-size: 30px;
}

#pTitulo,
#pAutor,
#pGenero,
#pPreco,
#pLido,
#pObservacao {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

/*resposta = LIVRO CADASTRADO*/
#resultadoLivro{
    margin: 30px auto;
    width: 500px;
    display: none;
}

#resultadoLivro article{
    padding: 20px;
    border: 2px solid rgb(126, 9, 58);
    border-radius: 15px;
    background-color: #ffbce3;
}

#resultadoLivro h2{
    color: rgb(136, 15, 65);
    text-align: center;
    margin-bottom: 15px;
}

#resultadoLivro h3{
    color: rgb(110, 8, 68);
    margin-bottom: 15px;
}

#resultadoLivro p{
    margin-bottom: 8px;
}


/*AJUSTE PARA TELA*/
@media (max-width: 767px) {

    body>header h1 {
        font-size: 40px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    nav {
        position: static;
        width: 90%;
        margin: 20px auto;
    }

    nav ul ul {
        position: static;
        width: 100%;
    }

    #formulario {
        width: 95%;
        margin: 20px auto;
    }

    fieldset legend {
        font-size: 30px;
    }

    .botoes {
        flex-direction: column;
    }

    .botoes button {
        width: 100%;
    }

    main{
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 992px) {

    #formulario {
        max-width: 500px;
        margin: 50px auto;
    }

}